.head {
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    height: 950px;
    color: white;



    .sites {
        position: absolute;
        left: 90%;
        bottom: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .fa {
            font-size: 50px;
            margin-top: 25px;
        }
    }

    .avatar {
        margin-top: 25px;
        margin-left: 163px;
        width: 258.9px;
        height: 100px;
    }

    .h1-2 {
        margin-top: 10px;
        margin-left: 163px;
        font-weight: 400;
        font-size: 20px;
    }

    .h1-1 {
        margin-left: 163px;
        font-weight: 400;
        font-size: 20px;
        margin-top: 149px;
        margin-bottom: 10px;
    }

    .freccia {
        margin-left: 170px;
        width: 152px;
        height: 40px;
    }

    .man-avatar {
        position: absolute;
        left: 50%;
        margin-top: 12.5px;
        width: 717px;
        height: 600px;
    }
}

.menu {
    .h1-under1 {
        display: flex;
        justify-content: center;
        font-size: 36px;
        margin-top: 75px;
    }

    .h1-under {
        display: flex;
        justify-content: center;
        font-size: 36px;
    }

    .bird {
        margin-left: 39%;
    }

    .name {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        font-weight: 400;
        font-size: 24px;
    }
}

button {
    background: #0b0e66;
    border: 3px solid #26c7ea;
    border-radius: 45px 0px;

    width: 260px;
    height: 80px;
    font-style: normal;

    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #26c7ea;

    margin-left: 163px;
    margin-top: 45px;
}
